:root {
	/* Color */
	--blue-color: #2196f3;
	--black-color: #212121;
	--white-color: #ffffff;
	--grey-color: #757575;

	/* fonts */
	--main-font: "Roboto";
	--logo-font: "Raleway";
}

/* reset */

body {
	font-family: "Roboto", sans-serif;
	color: var(--black-color);
}

a {
	text-decoration: none;
}

ul {
	list-style: none;
}

h2 {
	font-weight: 700;
	font-size: 36px;
	letter-spacing: 0.03em;
	text-align: center;
}
/* header */

header {
	background-color: var(--white-color);
}

.logo {
	font-family: var(--logo-font);
	font-weight: 700;
	font-size: 26px;
	letter-spacing: 0.03em;
}

.header-logo {
	color: var(--black-color);
}

.logo-span {
	color: var(--blue-color);
}

.nav {
	font-weight: 500;
	font-size: 14px;
	letter-spacing: 0.02em;
}

.header-link {
	color: var(--black-color);
}

.header-link:focus,
.header-link:hover {
	color: var(--blue-color);
}

.current-page {
	color: var(--blue-color);
}

.contacts {
	font-style: normal;
}

.header-contacts {
	font-weight: 500;
	font-size: 14px;
	letter-spacing: 0.02em;
}

.contact {
	color: var(--grey-color);
}

.contact:focus,
.contact:hover {
	color: var(--blue-color);
}

/* hero */

.hero {
	background-color: #2f303a;
}

.hero-title {
	font-weight: 900;
	font-size: 44px;
	line-height: 1.4;
	letter-spacing: 0.06em;
	text-transform: uppercase;
	text-align: center;
	color: var(--white-color);
}

.hero-button {
	width: 216px;
	height: 50px;
	color: var(--white-color);
	background-color: var(--blue-color);
	font-weight: 700;
	font-size: 16px;
	line-height: 1, 9;
	letter-spacing: 0.06em;
	text-align: center;
	border: none;
	border-radius: 4px;
}

/* principles */

.principles {
	background-color: var(--white-color);
}

.principle-title {
	font-weight: 700;
	font-size: 14px;
	letter-spacing: 0.03em;
	text-transform: uppercase;
}

.principle {
	color: var(--grey-color);
	font-weight: 400;
	font-size: 14px;
	line-height: 1.7;
	letter-spacing: 0.03em;
}

.business {
	width: 370px;
	height: 294px;
}

.team {
	background: #f5f4fa;
}

.participant {
	width: 270px;
	height: 368px;
}

.participant h4 {
	font-weight: 500;
	font-size: 16px;
	letter-spacing: 0.03em;
	text-align: center;
}

.participant p {
	font-weight: 400;
	font-size: 16px;
	letter-spacing: 0.03em;
	text-align: center;
}

.participant-photo {
	width: 270px;
	height: 260px;
}

/* footer */

footer {
	background-color: #2f303a;
}

.footer-logo {
	color: var(--white-color);
}

.address {
	color: var(--white-color);
	font-weight: 400;
	font-size: 14px;
	line-height: 1, 7;
	letter-spacing: 0.03em;
}

.mail,
.tel {
	color: #ffffff99;
	font-weight: 400;
	font-size: 14px;
	line-height: 1, 7;
	letter-spacing: 0.03em;
}

/* portfolio */

.filter {
	height: 38px;
	color: var(--black-color);
	background-color: #f5f4fa;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.625;
	letter-spacing: 0.03em;
	text-align: center;
	border: none;
	border-radius: 4px;
	cursor: pointer;
}

.filter:hover,
.filter:focus {
	color: var(--white-color);
	background-color: var(--blue-color);
}

.project-image {
	width: 370px;
	height: 294px;
}

.project-title {
	font-weight: 700;
	font-size: 18px;
	line-height: 2;
	letter-spacing: 0.06em;
}

.project-overview {
	color: var(--grey-color);
	font-weight: 400;
	font-size: 16px;
	line-height: 1.875;
	letter-spacing: 0.03em;
}
