:root{
    /* COLORS */
    --blue-color: rgba(33, 150, 243, 1);
    --grey-color: rgba(117, 117, 117, 1);
    --dark-background-color: rgba(47, 48, 58, 1);
    --black-color: rgba(33, 33, 33, 1);
    --transparent-white:rgba(255, 255, 255, 0.6);
    --light-grey: rgba(245, 244, 250, 1);

    /* FONTS */
    --main-font: 'Roboto', sans-serif;
    --secondary-font: 'Raleway', sans-serif;

    /* OTHERS */

}

.main-index {
    width: 1600px;
    height: 2350px;
    font-family: var(--main-font);
    color: var(--black-color);
}
/* HEADER */
header {
    display: flex;
    flex-direction: row;
    height: 80px;
}

.logo{
    margin-left: 215px;
    margin-top: 24px;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    cursor: pointer;
    font-family: var(--secondary-font);
}

.header-logo{
    color: black;
}

.blue-text{
    color: var(--blue-color);
}

.pages{
    margin-left: 92px;
    display: flex;
    justify-content: space-between;
    width: 294px;
    margin-top: 32px;
}

.header-link{
    height: 16px;
    margin-top: 32px;
    cursor: pointer;
}

.header-link-current{
    color: var(--blue-color);
}

.header-link:hover,
.header-link:focus{
    color: var(--blue-color);
}

.contacts-header{
    display: flex;
    height: 16px;
    margin-top: 32px;
}

.infodevstudio{
    margin-left: 330px;
    color: var(--blue-color);
    text-decoration: none;
}

.phone{
    margin-left: 50px;
    color: var(--grey-color);
    text-decoration: none;
}
/* END OF HEADER */
/* MAIN */
.first-part{
    width: 1600px;
    height: 600px;
    margin-top: 0px;
    background-color: #2F303A;
    display: flex;
    flex-direction: column-reverse;
}

.businessh1{
    position: absolute;
    width: 700px;
    height: 120px;
    margin: 200px 450px 280px 450px;
    font-style: normal;
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.button{
    margin: 30px 700px 200px 700px;
    padding: 10px 32px;
    width: 200px;
    height: 50px;
    background: var(--blue-color);
    border-radius: 4px;
    color: #fff;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    cursor: pointer;
}

.our-principles{
    width: 1170px;
    height: 100px;
    margin: 92px 215px 92px 215px;
    display: flex;
    justify-content: space-between;
}

.principles-title{
    margin-bottom: 10px;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.42;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #212121;
}

.principle{
    width: 270px;
    height: 100px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    color: var(--grey-color);
}

.what-we-do{
    width: 1170px;
    height: 390px;
    margin-left: 215px;
    margin-top: 92px;
}

.what-we-do-title{
    margin: 0 auto;
    width: 376px;
    height: 42px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;    
}

.imges-what-we-do{
    display: flex;
    margin-top: 50px;
    justify-content: space-between;
}

.img-what-we-do{
    width: 370px;
    height: 294px;
}

.photo-of-the-participant{
    width: 270px;
    height: 260px;
}

.our-team{
    margin-top: 94px;
    padding-top: 94px;
    height: 648px;
    width: 1600px;
    background-color: #F5F4FA;
}

.our-team-title{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;    
}

.team {
    display: flex;
    width: 1170px;
    height: 368px;
    margin: 50px auto;
    justify-content: space-between;
}

.team-participents{
    width: 270px;
    height: 368px;
    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;    
}

.name-of-participant{
    margin-top: 30px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
}

.job-title{
    margin-top: 10px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--grey-color);
}
/* END OF MAIN */
/* FOOTER */
footer{
    display: flex;
    flex-direction: column;
    width: 1600px;
    height: 252px;
    background: #2F303A;    
}

.footer-logo{
    color: white;
}

address{
    margin-left: 215px;
    margin-top: 20px;
    height: 81px;
    width: 230px;
    justify-content: space-between;
}

.contacts-footer{
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
}

.contacts-footer >a{
    color: var(--transparent-white);

}

.contact-footer{
    text-decoration: none;
    color: var(--transparent-white);
}

.company-adress{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;    
    color: white;    
}
/* END OF FOOTER */

.main-portfolio {
    width: 1600px;
    height: 1880px;
    font-family: var(--main-font);
    color: var(--black-color);
    background-color: aqua;
}

/* PORTFOLIO`S MAIN */
.body-portfolio{
    width: 1170px;
    height: 1360px;
    margin: 94px 215px 94px 215px;
}

.filters{
    width: 610px;
    height: 54px;
    margin: 94px 465px 34px 465px;
    display: flex;
    justify-content: space-between;
}

.filter{
    padding: 6px 22px;
    background-color: var(--light-grey);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
}
/* END OF PORTFOLIO`S MAIN */